.container_clock {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
}

.container_clocks {
  display: flex;
  flex-wrap: wrap;
}
.time {
  text-align: center;
}

.button {
  margin-left: 10px;
}
